body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    -45deg,
    #2f0a13,
    #290817,
    #290824,
    #310634,
    #3d0d40
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 0;
  padding: 0;
}
